.container {
  padding: 4rem 0 5rem;
}

.contentWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.2rem;
  padding-top: 7rem;
}

.title {
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
}

.subtitle {
  margin: 4.5rem 0 1.5rem 0;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.description {
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.9;
}

.description a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.2s;
}

.description a:hover {
  color: #fff;
}

.works__wrapper {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.works__item {
  display: grid;
  gap: 1.5rem;
  align-content: flex-start;
}

.works__title {
  font-size: 0.938rem;
  font-weight: 600;
}
.interest__wrapper {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.interest__item {
  display: grid;
  gap: 1rem;
  align-content: flex-start;
}

.interest__title {
  font-size: 0.938rem;
  font-weight: 600;
}

.icon {
  margin-top: 8px;
  fill: rgba(242, 244, 255, 0.85);
}
