.container {
  padding: 4rem 0 5rem;
}

.contentWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.2rem;
  padding-top: 7rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 600;
}

.subtitle {
  margin: 3.5rem 0 1.5rem 0;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.description {
  margin: 0;
  font-size: 0.938rem;
  line-height: 1.9;
}

.description a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.2s;
}

.description a:hover {
  color: #fff;
}

.works__wrapper {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 4rem;
  grid-template-columns: 1fr 2fr;
}

.works__item {
  display: grid;
  gap: 1.5rem;
  align-content: flex-start;
}

.works__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.works__description {
  font-size: 0.938rem;
  line-height: 1.9;
}

.interest__wrapper {
  display: grid;
  gap: 1.7rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

.interest__item {
  display: grid;
  gap: 1rem;
  align-content: flex-start;
}

.interest__title {
  font-size: 0.938rem;
  font-weight: 600;
}

.icon {
  fill: rgba(242, 244, 255, 0.85);
}

.border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.257);
  padding-bottom: 3rem;
}

.footer {
  display: flex;
  flex: 1;
  color: rgba(228,240,250,0.55);
  font-size: 0.75rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.257);
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.header__item a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-underline-offset: 4px;
  transition: color 0.2s;
}

.header__item a:hover {
  color: #fff;
}